# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Notebooks and large data
*.ipynb
*.csv
*.tsv
*.jsonl

# Git
.git/
.gitignore
